<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<link rel="stylesheet" href="./assets/css/amazeui.min.css">
<link rel="stylesheet" href="./assets/css/app.css">
</head>
<body>
<div id="flash-container">
  <div id="flash-alert">
  </div>
</div>
<script src="./assets/js/jquery.min.js"></script>
<script src="./assets/js/amazeui.min.js"></script>
<script src="./assets/js/coffee-script.js"></script>
<script src="./assets/js/app.coffee" type="text/coffeescript"></script>
<%= yield %>
</body>
</html>
